{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="{% static 'startPage/css/style.css' %}" rel="stylesheet" type='text/css'>
</head>
<body>
  <div class='header'>
    <div class="header_content">
      <div class="menu">menu

      </div>
      <div class="search"></div>
      <div class="logo">logo</div>
    </div>
  </div>
  <div class="main">
    <div class="side_menu"></div>
    <div class="content">
      <div class="slider">

      </div>
      <div class="recommended"><div class="back_btn"></div>
        <div class="content_box"></div><div class="content_box"></div>
        <div class="content_box"></div><div class="content_box"></div><div class="content_box"></div>
      <div class="forward_btn"></div></div>
      <div class="popular">
        <div class="art"><div class="back_btn"></div>
          <div class="content_box"></div><div class="content_box"></div>
          <div class="content_box"></div><div class="content_box"></div><div class="content_box"></div>
        <div class="forward_btn"></div></div>
        <div class="photography"><div class="back_btn"></div>
          <div class="content_box"></div><div class="content_box"></div>
          <div class="content_box"></div><div class="content_box"></div><div class="content_box"></div>
        <div class="forward_btn"></div></div>
        <div class="threeD"><div class="back_btn"></div>
          <div class="content_box"></div><div class="content_box"></div>
          <div class="content_box"></div><div class="content_box"></div><div class="content_box"></div>
        <div class="forward_btn"></div></div>
        </div>


      <div class="footer"></div>
    </div>
  </div>
</body>
</html>