{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static 'base/css/style.css' %}" rel="stylesheet" type='text/css'>
  <link href="{% static 'base/css/all.min.css' %}" rel="stylesheet" type='text/css'>
  {% block link %}{% endblock %}
</head>
<body>
  {% block container %}{% endblock %}
  <div class='header'>
    <div class="header_content">
      {% if user.is_authenticated %}
      <div class="user_panel">
        <div class="user">
          <a href="#"><i class="fas fa-user"></i></a>
        </div>
        <div class="notifications">
          <a href="#"><i class="fas fa-bell"></i></a>
        </div>
        <div class="log_out">
          <a href="#"><i class="fas fa-sign-out-alt"></i></a>
        </div>
      </div>
      {% else %}
      <div class="anonymous_panel">
        <a href="{% url 'login' %}"><h4>Log in</h4></a>
        <a href="{% url 'register' %}"><h4>Register</h4></a>
      </div>
      {% endif %}
      <div class="menu_btn"><div></div><div></div><div></div></div>
      <div class="search"></div>
      <div class="logo">logo</div>
    </div>
  </div>
  <div class="main">
    <div class="side_menu">
      <ul class="side_navbar">
        <li><h3><a href="{% url 'start_page_view' %}">Home</a></h3></li>
        <li><h3><a href="{% url 'all_arts' %}">Arts</a></h3></li>
        <li><h3><a href="{% url 'all_posts' %}">Blogs</a></h3></li>
        {% if user.is_authenticated %}
        <li><h3><a href="{% url 'add_new_post' %}">Add blog</a></h3></li>
        {% endif %}
        <li><h3><a href="{% url 'all_articles' %}">Articles</a></h3></li>
        {% if user.is_authenticated %}
        <li><h3><a href="{% url 'add_new_article' %}">Add article</a></h3></li>
        {% endif %}
      </ul>
    </div>
    <div class="content">
      {% block content %}


      {% endblock %}
    </div>
  </div>
  <div class="footer"></div>


  <script src="{% static 'base/js/vue.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src="{% static 'base/js/script.js' %}"></script>
  {% block script %}{% endblock %}
</body>
</html>
