.slider {
  margin: 0 auto;
  max-width: 1770px;
  height: 512px;
  background-color: green;
  overflow:hidden;
}

.recommended, .art, .photography, .threeD{
  display: flex;
  display: -webkit-flex;
  height: 260px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 98%;
  margin: 10px auto;
  border-radius: 15px;
}
.popular {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
