{% extends 'base/base.html' %}
{% load static %}
{% block title %}New article{% endblock %}
{% block link %}<link rel="stylesheet" href="{% static 'article/style.css' %}">{% endblock %}
{% block content %}
<div class="Fields">
        <form action="." method="post" id="AddForm">
            {% csrf_token %}
			<h1>Title</h1>
			<h1>{{ form.Title }}</h1>
            <h2>Thesis</h2>
			<h2>{{ form.Thesis }}</h2>
			<p>Body: </p>
			<p>{{ form.Body }}</p>
            <p>Image: </p>
            <p>{{ form.Image }}</p>
        <input class="button" type="submit" value="Сохранить">
        </form>
    </div>
{% endblock %}