{% extends 'base/base.html' %}
{% load static %}
{% block title %}Articles{% endblock %}
{% block link %}<link rel="stylesheet" href="{% static 'articles/css/style.css' %}">{% endblock %}
{% block content %}
    {% for state in article %}
        <div class="article_box" id="article_box">{{ state.Title }}
        <button class="article_info" v-on:click="article_data()"></button>
        </div>
    {% endfor %}
{% endblock %}
{% block container %}
{% verbatim %}
    <v-popup
            v-if="isInfoArticle"
    />
{% endverbatim %}
{% endblock %}
{% block script %}<script src="{% static 'articles/script.js' %}"></script>{% endblock %}