* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.header {
  width: 100%;
  height: 65px;
  background-color: #f2f2f2;
  position: fixed;
  z-index: 10;
}
.header_content {
  min-width: 500px;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.logo {
  margin: auto 23px;
}
.user_panel {
  margin: auto 23px;
  width: 120px;
  height: 35px;
  background-color: #A0DCB3;
}
.user_panel div {
  width: 39px;
  height: 35px;
  float: left;
  border-right: 1px solid white;
}
.user_panel a {
  font-size: 32px;
  color: white;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.user_panel a:hover {
  font-size: 42px;
  color: #4B4C4B;
}
.menu_btn {
    display: none;
    width: 35px;
    height: 35px;
    flex-direction: column;
    Justify-content: space-around;
    margin: auto 23px;
}
.menu_btn div {
    height: 4px;
    width: 35px;
    display: none;
    background-color: #2f2f2f;
    border-radius: 25px;
}
.user, .notifications, .log_out {
  justify-content: center;
  position: relative;
  display: flex;
  align-items: center;
}
.log_out {
  border-right: none;
}
.anonymous_panel {
  margin: auto 23px;
  width: 120px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.anonymous_panel a {
  color: #2f2f2f;
}
.search {
  margin: auto 23px;
  width: 700px;
  height: 35px;
  border: 1px solid black;
  border-radius: 25px;
}
.main {
  display: flex;
  display: -webkit-flex;
}
.side_menu {
  min-height: 100%;
  width: 15%;
  background-color: #f2f2f2;
  padding-top: 65px;

  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.side_navbar {
  list-style: none;
  width: 100%;
}
.side_navbar li {
  padding: 20px 0;
  text-align: center;
}
.side_navbar a {
  color: #2f2f2f;
}
.side_navbar li:hover {
  background-color: white;
}

.content{
  width: 85%;
  min-height: 1600px;
  right: 0;
  padding-top: 65px;
  display: block;
  text-align: right;
}
.footer {
  width: 100%;
  height: 256px;
  background-color: #f2f2f2;
  display: block;
}
.forward_btn {
  height: 100%;
  width: 50px;
  border-left: 1px solid black;
}
.back_btn {
  height: 100%;
  width: 50px;
  border-right: 1px solid black;
}
.content_box {
  height: 256px;
  width: 256px;
  background-color: blue;
  margin: auto;
  border-radius: 15px;
  overflow:hidden;
}
.content_container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 11;
}
.close_content_container {
  position: fixed;
  width: 42px;
  height: 42px;
  background-color: black;
  z-index: 12;
  top: 5px;
  right: 5px;
}
.content_display {
  height: 90%;
  width: 960px;
  background-color: white;
  border-radius: 25px;
  overflow: auto;

  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
@media only screen and (max-width: 980px) {
  .content_display {
    width: 90%;}
}
.text_container {
    margin: 0 30px;
    padding: 25px 0;
}
/* хром, сафари */
.content_display::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.content_display { -ms-overflow-style: none; }

@media only screen and (max-width: 1006px) {
  .user_panel {
  display: none;}

  .side_menu {
  display: none;}
  .content {
  width: 100%;}

  .menu_btn {
    display: flex;}
  .menu_btn div {
    display: block;}
}